body {
    background-image: url("https://i.ytimg.com/vi/aZwev9_Y58A/maxresdefault.jpg");
}


header {
 text-align: center;
 font-size: 100px;
 font-weight: 700;
}

p {
    font-size: 30px;
    text-align: center;
    margin: 50px;
    color: aliceblue;
}